<div class="container">
  <form>
    <div class="p-grid">
      <div class="p-col-12">
        <h1>Cadastro Molde</h1>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Nome</label>
        <input pInputText type="text">
      </div>

      <div class="p-col-12 p-fluid">
        <label>Produto</label>
        <input pInputText type="text">
      </div>

      <div class="p-col-12 p-fluid">
        <label>Material</label>
        <input pInputText type="text">
      </div>

      <div class="p-col-12 p-fluid">
        <label>Cavidades</label>
        <input pInputText type="text">
      </div>

    </div>
  </form>
</div>
