body {
  font-family: Arial, Helvetica, sans-serif;
  margin:  0;
  color: #404c51;
}


label {
  font-weight: bold;
}

@media(min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

@media (min-width: 40em) {
  .col-valor-header {
    width: 120px;
  }
}
/* .col-cavidade{
  text-align:  !important;
} */

.col-valor-header {
  width: 120px;
}

a {
  color: #FFB200;
  text-decoration: none;
  margin: 25px;
}

a:hover, a:focus {
  text-decoration: underline;
}

.p-col-12 {
  margin: 15px;
}

.col-acoes-header {
  width: 115px;
}

.acoes a{
 margin-right: 5px ;

}
